{% extends "main/index.html" %}

{% block content %}

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Check</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
    {% for check in checks %}
        <tr>
            <td>{{ check.check }}</td>
            
            <td>
            {% if check.result == 0 %}
                <p class="text-success">OK</p>
            {% else %}
                <p class="text-warning">{{ check.message }}</p>
            {% endif %}
            </td>
        </tr>
    {% endfor %}

        </tbody>
    </table>

</div>
{% endblock %}
